html, body {
  height: 100%;
  font-family: "futura-pt", sans-serif;
}

body {
  background-color: #f3f3f4;
  margin: 0;
  padding: 0;
}

section#topbar {
  height: 75px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

section#topbar #logo {
  background-image: url("../../img/logo_small.png");
  background-repeat: no-repeat;
  width: 66px;
  height: 75px;
  margin-left: 10px;
  display: block;
  float: left;
}

section#topbar #username {
  font-size: 42.98pt;
  float: left;
  color: #f3f3f4;
  margin-left: 40px;
}

section#topbar nav {
  overflow: hidden;
  float: right;
}

section#topbar nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section#topbar nav ul li {
  float: left;
  color: #f3f3f4;
  font-size: 13.15pt;
  line-height: 75px;
}

section#topbar nav ul li a {
  display: block;
  color: #f3f3f4;
  text-decoration: none;
  padding-right: 100px;
  padding-top: 14px;
}

section#topbar nav ul li a.upload {
  background-image: url('../../img/upload.png');
  background-repeat: no-repeat;
  background-size: 60.5px 60.5px;
  background-position: -3px 10px;
  padding-left: 51px;
}

section#topbar nav ul li a.settings {
  background-image: url('../../img/settings.png');
  background-repeat: no-repeat;
  background-size: 56.1px 43.5px;
  background-position: -6px 16px;
  padding-left: 48px;
}

section#topbar nav ul li a.logout {
  background-image: url('../../img/logout.png');
  background-repeat: no-repeat;
  background-size: 60.1px 60.5px;
  background-position: -16px 11px;
  padding-left: 29px;
  padding-right: 30px;
}

section#content {
  width: 700px;
  float: left;
  margin-top: 92px;
  margin-left: 199px;
}

footer {
  bottom: 0;
  height: 100px;
  background-color: black;
  overflow: hidden;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}

#upload-dialog {
  background-color: #000;
  width: 350px;
  padding: 65px;
}

#upload-dialog-title {
  font-size: 40px;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

#upload-dialog #songname {
  background-color: #000;
  border: 0;
  outline: 0;
  color: #FFF;
  margin: auto;
  margin-top: 30px;
  display: block;
  border-bottom: 1px solid #FFF;
  width: 75%;
  font-size: 30px;
}

#upload-dialog #file-container {
  display: block;
  background-color: #000;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 75%;
}

#upload-dialog #file {
  outline: 0;
}

#upload-dialog #file::-webkit-file-upload-button {
  visibility: hidden;
}
#upload-dialog #file::before {
  content: 'Choose File';
  outline: none;
  width: 100%;
  margin: auto;
  background-color: #000;
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
}

#upload-dialog #submit {
  display: block;
  border: 1px solid #FFF;
  width: 75%;
  margin: auto;
  background-color: #000;
  color: #FFF;
  font-size: 32px;
  padding: 5px;
  margin-top: 30px;
  outline: 0;
}

#upload-dialog #songname::-webkit-input-placeholder {
   color: #FFF;
}

#upload-dialog #songname:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

#upload-dialog #songname::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

#upload-dialog #songname:-ms-input-placeholder {  
   color: #FFF;  
}

input {
  font-family: "futura-pt", sans-serif;
}

#songpage-title {
  font-size: 69.76pt;
  font-weight: 700;
  margin-bottom: 20px;
}

#songpage-player {
  float: left;
  width: 396px;
}

#songpage-details {
  float: left;
  margin-left: 50px;
}

#songpage-details span {
  display: block;
}

#songpage-comments {
  clear: both;
  margin-top: 10px;
}

.songpage-comment {
  margin: 0;
  list-style: none;
  background-color: #D5D5D5;
  padding: 10px;
  border-bottom: 1px solid #B9B9B9;
}

a {
  color: #000;
}

#sidebar {
  float: left;
  background-color: #CCC;
  width: 160px;
  height: 100%;
  position: fixed;
  margin-top: 75px;
}

.sidebar-menu-title {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 15.05pt;
  line-height: 12pt;
}

.sidebar-menu-line {
  height: 1px;
  width: 130px;
  background-color: #000;
  margin-bottom: 20px;
  margin-left: 30px;
}

.sidebar-menu-item {
  overflow: hidden;
  margin-bottom: 25px;
  margin-left: 30px;
  width: 120px;
}

.sidebar-menu-circle {
  -moz-border-radius: 55px/55px;
  -webkit-border-radius: 55px 55px;
  border-radius: 55px/55px;;
  border:solid 3px #000; 
  width:55px;
  height:55px;
  float: left;
  display: inline-block;
}

.sidebar-menu-text {
  float: left;
  display: inline-block;
  padding-top: 18%;
  padding-left: 5px;
  text-decoration: none;
  width: 54px;
  font-size: 9.32pt;
  overflow: hidden;
  word-break: break-word;
}

.box {
  clear: both;
  background-image: url('fo_china.jpg');
  background-position: -1200px -200px;
  height: 310px;
  border: 5px solid black;
}

.song {
  margin: auto;
  position: relative;
}

.songHeader {
  float: left;
  font-size: 24.53pt;
  font-weight: 700;
  width: 55%;
}

.songByline {
  font-size: 15.05pt;
  float: right;
  text-align: right;
  position: absolute;
  right: 0;
  margin: 0;
  bottom: 0;
}

.songHeader, #songByline {
  margin-bottom: 2px;
}

.songInfo {
  text-align: center;
  width: 105px;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  float: right;
}

.download {
  margin-top: 60px;
  width: 70px;
  display: inline-block;
}

.songLine {
  overflow: hidden;
  padding-top: 10px;
  position: relative;
}

h2 {
  margin-top: 0;
}

/*
  C O L A B - P A G E - B I T C H E Z
*/

#songHeader{
  font-weight: 700;
  font-size: 69.76pt;
  line-height: 65pt;
  margin-bottom: 55px;
}

#container{
  width: 800px;
  height: 100%;
  margin: auto;
  margin-top: 150px;
}

.player{
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 6pt solid black; 
  float: left;
}

.version{
  width: 100%;
  height: 140px;
}

.songInfoCollab{
  margin-top: 26px;
  margin-left: 37px;
  float: left;
}

.downloadCollab{
  text-decoration: underline;
}

.break{
  width: 100%;
  height: 160px;
}

.line {
  height: 100%;
  width: 6pt;
  background-color: black;
  margin-left: 67px;
}

#raminSucks{
  clear: both;
  display: none;
}