html, body {
  height: 100%;
  font-family: "futura-pt", sans-serif;
}

body {
  background-color: #f3f3f4;
  margin: 0;
  padding: 0;
}

section#topbar {
  height: 75px;
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

#searchBox{
  position: absolute;
  top: 75px;
  right: 0;
  width: 713px;
  background-color: black;
  border-bottom-left-radius: 10px;
}

section#topbar #logo {
  background-image: url("../../img/logo_small.png");
  background-repeat: no-repeat;
  width: 66px;
  height: 75px;
  margin-left: 10px;
  display: block;
  float: left;
  background-size: 91px 75px;
  background-position: -12px 0px; 
}

section#topbar #username {
  font-size: 42.98pt;
  float: left;
  color: #f3f3f4;
  margin-left: 40px;
  display: inline-block;
  overflow: hidden;
  width: 450px;
}

section#topbar nav {
  overflow: hidden;
  position: absolute;
  right: 0;
}

section#topbar nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section#topbar nav ul li {
  float: left;
  color: #f3f3f4;
  font-size: 13.15pt;
  line-height: 75px;
}

section#topbar nav ul li a {
  display: block;
  color: #f3f3f4;
  text-decoration: none;
  padding-right: 100px;
  padding-top: 14px;
}

.exploreContent{
  margin-left: 100px;
}

section#topbar nav ul li a.explore {
  background-image: url('../../img/explore.png');
  background-repeat: no-repeat;
  background-size: 41.5px 41.5px;
  background-position: 2px 19px;
  padding-left: 51px;
}

section#topbar nav ul li a.search {
  background-image: url('../../img/searchWhite.png');
  background-repeat: no-repeat;
  background-size: 48.5px 41.5px;
  background-position: 2px 19px;
  padding-left: 51px;
}

/*
 a.upload {
  background-image: url('../../img/add.png');
  background-repeat: no-repeat;
  background-size: 60.5px 60.5px;
  background-position: -3px 10px;
  padding-left: 51px;
}
*/

#addImage{
  width: 32px;
  position: absolute;
  right: 13px;
  display: inline-block;
  top: 27px;
}

section#topbar nav ul li a.settings {
  background-image: url('../../img/settings.png');
  background-repeat: no-repeat;
  background-size: 56.1px 43.5px;
  background-position: -6px 22px;
  padding-left: 48px;
}

section#topbar nav ul li a.logout {
  background-image: url('../../img/logout.png');
  background-repeat: no-repeat;
  background-size: 60.1px 60.5px;
  background-position: -16px 11px;
  padding-left: 29px;
  padding-right: 30px;
}

section#content {
  width: 700px;
  float: left;
  margin-top: 139px;
  margin-left: 302px;
}

footer {
  bottom: 0;
  height: 100px;
  background-color: black;
  overflow: hidden;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}

#searchInput{
  display: block;
  width: 80%;
  border: none;
  background-color: black;
  border-bottom: white 1pt solid;
  color: white;
  outline: 0;
  font-size: 13.15pt;
  margin-left: 1em;
  margin-top: 10px;
}

input {
  font-family: "futura-pt", sans-serif;
}

.songWrapper{
  width: 850px;
  height: 100%;
  float: left;
}

#exploreHeader, #streamHeader{
  margin-top: -20px;
}

#songpage-title, #exploreHeader, #streamHeader {
  font-size: 69.76pt;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 75pt;
}

#songpage-player {
  float: left;
  border: 10px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

#songpage-details {
  float: left;
  margin-left: 54px;
  margin-top: 41px;
}

#songpage-details span {
  display: block;
}

#songpage-comments {
  width: 370px;
  border-top: 2pt black solid;
  float: right
}

.commentHeader{
  text-align: right;
  font-size: 12pt;
  font-weight: 300;
}

.songpage-comment {
  margin: 0;
  list-style: none;
}

.point {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: black;
}

a {
  color: #000;
}

.artistHeaderHolder {
  height: 350px;
  margin-bottom: 150px;
  width: 800px;
}

.artistHeader{
  position: relative;
  width: 430px;
  float: right;
  text-align: right;
  font-size: 69.76pt;
  border-bottom: 2pt solid black;
  margin-bottom: 0px;
  margin-top: 252px;
  height: 96px;
}

.profilePhoto {
  width: 340px;
  display: inline-block;
  border: 8pt solid black;
  border-radius: 50%;
  overflow: hidden;
  float: left; 
}

.songList{
  clear: both;
}

#sidebar {
  float: left;
  background-color: #CCC;
  width: 160px;
  height: 100%;
  position: fixed;
  margin-top: 75px;
  overflow: scroll;
  overflow-x: hidden;
}

.sidebar-menu-title {
  margin-top: 30px;
  margin-left: 30px;
  font-size: 15.05pt;
  line-height: 12pt;
}

.sidebar-menu-line {
  height: 1px;
  width: 130px;
  background-color: #000;
  margin-bottom: 20px;
  margin-left: 30px;
}

.sidebar-menu-item {
  overflow: hidden;
  margin-bottom: 25px;
  margin-left: 30px;
  width: 120px;
}
  /*transition: background-color 0.2s, color 0.2s, border 0.2s;

.sidebar-menu-item:hover{
  background-color: black;
  color: white;
  border: 
}
*/

.genreExplore {
  width: 120px;
  float: left;
  list-style-type: none;
  margin-top: 0;
  border-top: 1pt solid black;
}

.genreExplore li{
  margin-bottom: 10px;
  padding-top: 11px;
  padding-bottom: 8px;
  padding-left: 11px;
  transition: background-color 0.2s, color 0.2s;
}

.genreExplore li:hover{
  cursor: pointer;
  background-color: black;
  color: white;
}

#selectedGenre{
  background-color: black;
  color: white;
}

#genreHolder{
  float: left;
  position: fixed;
  left: 188px;
  top: 137px;
}

#songHolder{
  float: left;
  width: 700px;
}

.sidebar-menu-circle {
  -moz-border-radius: 55px/55px;
  -webkit-border-radius: 55px 55px;
  border-radius: 55px/55px;;
  border:solid 3px #000; 
  width:55px;
  height:55px;
  float: left;
  display: inline-block;
}

.sidebar-menu-text {
  float: left;
  display: inline-block;
  padding-top: 18%;
  padding-left: 5px;
  text-decoration: none;
  width: 54px;
  font-size: 9.32pt;
  overflow: hidden;
  word-break: break-word;
}

.box {
  clear: both;
  height: 310px;
  border: 5px solid black;
}

.song {
  margin: auto;
  position: relative;
  margin-bottom: 180px;
}

.songHeader {
  float: left;
  font-size: 24.53pt;
  font-weight: 700;
  width: 55%;
}


.songHeader a {
  text-decoration: none;
  transition: color .2s, background-color .2s;
  padding-right: 1em;
}

.songHeader a:hover {
  background-color: black;
  color: white;
}

.songByline {
  font-size: 15.05pt;
  float: right;
  text-align: right;
  position: absolute;
  right: 0;
  margin: 0;
  bottom: 0;
}

.songByline a{
  text-decoration: none;
  transition: background-color 0.2s, color 0.2s;
}

.songByline a:hover{
  background-color: black;
  color: white;
}

.songHeader, #songByline {
  margin-bottom: 2px;
}

.songInfo {
  text-align: center;
  width: 105px;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  float: right;
}

.download {
  margin-top: 60px;
  width: 70px;
  display: inline-block;
}

.songLine {
  overflow: hidden;
  padding-top: 10px;
  position: relative;
}

h2 {
  margin-top: 0;
}

.song-likes {
  display: inline-block !important;
}

#addVersionWrapper{
  width: 120px;
  height: 86px;
  position: absolute;
  top: 296px;
  left: 189px;
}

#addVersionCircle, #addVersionLine {
  float: left;
}

#addVersionCircle p{
  font-size: 12pt;
  line-height: 10pt;
  margin-top: 30px;
}

#addVersionCircle{
  height: 100%;
  width: 86px;
  text-align: center;
  border-radius: 50%;
  border: 3pt solid black;
  transition: background-color 0.2s, color 0.2s;
}

#addVersionCircle:hover{
  background-color: black;
  color: white;
  cursor: pointer;
}

#addVersionLine{
  width: 20px;
  height: 3pt;
  background-color: black;
  margin-top: 43px;
}

#versionAppenderHolder{
  width: 330px;
  height: 370px;
  background-color: black;
  color: white;
  position: absolute;
  top: 220px;
  left: 28%;
}

#whiteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8)
}

#versionAppenderHeader{
  border-bottom: 1px solid #FFF;
  display: inline-block;
  font-size: 40px;
  width: 280px;
  text-align: right;
}

#upload-box {
   background-color: #000;
   color: #FFF;
   overflow: hidden;
   padding-top: 20px;
   padding-bottom: 20px;
   margin-bottom: 10px;
}

#upload-left {
  float: left;
  width: 320px;
  text-align: right;
}

#versionAppenderHolder #submit{
  width: 244px;
}

#versionAppenderHolder .file-field {
  display: none;
}

#upload-right {
  float: right;
  width: 320px;
}

#upload-box h1 {
  margin: 0;
  border-bottom: 1px solid #FFF;
  display: inline-block;
  font-size: 40px;
  margin-bottom: 10px;
}

#upload-box #upload-left h1 {
  padding-left: 240px;
}

#upload-box #upload-right h1 {
  padding-right: 191px;
}

#upload-box .text-field {
  border: 0;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  outline: none;
  background-color: #000;
  font-size: 32px;
  width: 242px;
  margin-bottom: 20px;
}

#upload-box .file-field {
  display: none;
}

#upload-box .radio-field {
  font-size: 32px;
}

#upload-box .button, #versionAppenderHolder .button {
  border: 0;
  border: 1px solid #FFF;
  color: #FFF;
  outline: none;
  background-color: #000;
  font-size: 32px;
  font-weight: 700;
  padding: 10px;

}

#upload-box #submit {
  margin: auto;
  display: block;
}

#upload-box #choose-project, #upload-box #choose-file, #upload-box #choose-art,
#versionAppenderHolder #choose-project, #versionAppenderHolder #choose-file {
  padding: 10px;
  border: 1px solid #FFF;
  display: inline-block;
  font-size: 32px;
  font-weight: 700;
  width: 220px;
  text-align: center;
  margin-bottom: 20px;
  transition: background-color 0.2s;
}

#versionAppenderHolder #choose-project, #versionAppenderHolder #choose-file,
  #versionAppenderHolder .button { 
  margin-left: 38px;
  cursor: pointer;
}



#upload-box #choose-project:hover,
#upload-box #choose-file:hover,
#upload-box #choose-art:hover {
  cursor: pointer;
}

#upload-box #upload-left .container {
  margin-right: 22px;
}

#upload-box #genre-container {
  height: 295px;
  overflow: scroll;
  overflow-x: hidden;
}

#upload-box #genre-container label {
  display: inline-block;
}

#upload-box #genre-container label {
  display: inline-block;
  font-size: 25px;
}

.clearfix {
  clear: both;
}

.typekit-badge {
  display: none;
}

#settings h1 {
  font-size: 40px;
  margin: 0;
}


#settings .avatar-container {

}

#settings .avatar-photo {
  width: 100px;
  height: 100px;
  background-color: #000;
}

#settings .avatar-upload-photo {
  display: inline-block;
  float: left;
}

#settings .avatar-upload-file {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

#settings #avatar-image {
  display: none;
}

#settings #avatar-image-button {
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #000;
  color: #FFF;
  cursor: pointer;
}

#settings .avatar-upload-container #submit {
  padding: 10px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  background-color: #000;
  color: #FFF;
  margin: 0;
  border: none;
}

#settings .avatar-upload-container {
  overflow: hidden;
}