@font-face {
  font-family: 'futura';
  src: url("../../fonts/futura.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/futura.eot?#iefix") format("embedded-opentype"), url("../../fonts/futura.woff") format("woff"), url("../../fonts/futura.ttf") format("truetype"), url("../../fonts/futura.svg#svgFontName") format("svg");
  /* Legacy iOS */;
}

body {
  background-color: #f3f3f4;
  font-family: "futura", sans-serif;
  margin: 0;
  padding: 0;
}

section#topbar {
  height: 75px;
  background-color: black;
  overflow: hidden;
}

section#topbar #logo {
  background-image: url("../../img/logo_small.png");
  background-repeat: no-repeat;
  width: 66px;
  height: 75px;
  display: block;
  float: left;
}

section#topbar #username {
  font-size: 35px;
  float: left;
  color: #f3f3f4;
  margin-left: 40px;
  margin-top: 28px;
}

section#topbar nav {
  overflow: hidden;
  float: right;
}

section#topbar nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

section#topbar nav ul li {
  float: left;
  color: #f3f3f4;
  font-size: 18px;
}

section#topbar nav ul li a {
  display: block;
  color: #f3f3f4;
  text-decoration: none;
  margin-right: 100px;
  padding-top: 25px;
}

section#content {
  width: 960px;
  margin: auto;
  margin-top: 40px;
}

footer {
  bottom: 0;
  height: 100px;
  background-color: black;
  overflow: hidden;
  color: white;
  position: absolute;
  left: 0;
  width: 100%;
}

#upload-dialog {
  background-color: #000;
  width: 350px;
  padding: 65px;
}

#upload-dialog-title {
  font-size: 40px;
  color: #FFF;
  border-bottom: 1px solid #FFF;
}

#upload-dialog #songname {
  background-color: #000;
  border: 0;
  outline: 0;
  color: #FFF;
  margin: auto;
  margin-top: 30px;
  display: block;
  border-bottom: 1px solid #FFF;
  width: 75%;
  font-size: 30px;
}

#upload-dialog #file-container {
  display: block;
  background-color: #000;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  width: 75%;
}

#upload-dialog #file {
  outline: 0;
}

#upload-dialog #file::-webkit-file-upload-button {
  visibility: hidden;
}
#upload-dialog #file::before {
  content: 'Choose File';
  outline: none;
  width: 100%;
  margin: auto;
  background-color: #000;
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
}

#upload-dialog #submit {
  display: block;
  border: 1px solid #FFF;
  width: 75%;
  margin: auto;
  background-color: #000;
  color: #FFF;
  font-size: 32px;
  padding: 5px;
  margin-top: 30px;
  outline: 0;
}

#upload-dialog #songname::-webkit-input-placeholder {
   color: #FFF;
}

#upload-dialog #songname:-moz-placeholder { /* Firefox 18- */
   color: #FFF;  
}

#upload-dialog #songname::-moz-placeholder {  /* Firefox 19+ */
   color: #FFF;  
}

#upload-dialog #songname:-ms-input-placeholder {  
   color: #FFF;  
}

input {
  font-family: "futura", sans-serif;
}