body, html {
  height: 100%;
  font-family: "futura-pt", sans-serif;
}

body {
  font-weight: 400;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

#container {
  width: 84%;
  overflow: hidden;
  margin-left: 4%;
  margin: auto;
  height: 100%;
}

#container #left {
  width: 56%;
  height: 100%;
  float: left;
  background-image: url("../../img/logo_large.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
}

#container #right {
  width: 35%;
  float: left;
  padding: 2%;
  margin-left: 4%;
}

#container #right .form {
  width: 100%;
}

#container #right .form input ::-webkit-input-placeholder {
  color: #bdbec0;
  -webkit-transition: color .8s; /* For Safari 3.1 to 6.0 */
  transition: color .8s;
}

#container #right .form input ::-webkit-input-placeholder {
        /* Webkit browsers */
  color: #bdbec0;
}

#container #right .form input :-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
  color: #bdbec0;
}

#container #right .form input ::-moz-placeholder {
        /* Mozilla Firefox 19+ */
  color: #bdbec0;
}

#container #right .form input :-ms-input-placeholder {
        /* Internet Explorer 10+ */
  color: #bdbec0;
}

#container #right .form#login input[type='text'], #container #right .form#login input[type='password'] {
  background-color: #3a3a3c;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
  height: 20px;
  vertical-align: top;
  display:inline-block;
  width: 37%;
  font-size: 12px;
}

#container #right .form#login input[type='submit'] {
  font-size: 15px;
  height: 30px;
  box-sizing: border-box;
  width: 15%;
  vertical-align: top;
  background-color: #818285;
  float: right;
}

#container #right .form#signup {
  margin-top: 40px;
}

#container #right .form#signup input[type='text'], #container #right .form#signup input[type='password'], #container #right .form#signup input[type='submit']  {
  width: 100%;
  font-size: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#container #right .form#signup input[type='text'], #container #right .form#signup input[type='password'] {
  color: white;
  border-bottom: 2px solid silver;
  background-color: #3a3a3c;
  text-align: center;
}

#container #right .form#signup input[type='submit']  {
  background-color: #d1d2d4
}

#container #right .form#signup input:nth-last-child(3) {
  margin-bottom: 20px;
  border-bottom: none;
}

#container #description {
  margin-top: 60px;
  font-size: 13.87pt;
}

#container #right .form a {
  color: silver;
  border-bottom: 1px solid silver;
}

h1, h2, h3, h4 {
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 36.87pt;
  font-weight: 700;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

input {
  border: none;
  font-family: "futura-pt", sans-serif;
  margin: 0;
  font-weight: 400;
}

input:focus {
  outline: none;
}
